<div class="container" ng-init="init()">

    <section id="products">
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail col-md-4">
                    <!--{{product}}-->
                    <!--<img ng-src="{{product.imageURL}}"/>-->
                    <div class="caption">
                        <h4 class="pull-right">$699.99</h4>
                        <h4><a href="#/ecommerce_app/product/1">Samsung Galaxy S5</a></h4>
                        <p>Memory size - User memory is less than the total memory due to storage of the operating system and software used to operate the phones features.
                            Actual user memory will vary depending on the mobile phone operator and may change after software upgrades are performed.</p>
                        <ul>
                            <li> NETWORK: GSM / HSPA / LTE</li>
                            <li> LAUNCH	2014, February Available. Released 2014, April</li>
                            <li> OS: Android OS, v4.4.2 (KitKat)</li>
                            <li> Chipset: Qualcomm MSM8974AC Snapdragon 801</li>
                        </ul>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" >15 Reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
                <div class="thumbnail col-md-4">
                    <!--{{product}}-->
                    <!--<img ng-src="{{product.imageURL}}"/>-->
                    <div class="caption">
                        <h4 class="pull-right">$699.99</h4>
                        <h4><a href="#/ecommerce_app/product/1">Samsung Galaxy S5</a></h4>
                        <p>Memory size - User memory is less than the total memory due to storage of the operating system and software used to operate the phones features.
                            Actual user memory will vary depending on the mobile phone operator and may change after software upgrades are performed.</p>
                        <ul>
                            <li> NETWORK: GSM / HSPA / LTE</li>
                            <li> LAUNCH	2014, February Available. Released 2014, April</li>
                            <li> OS: Android OS, v4.4.2 (KitKat)</li>
                            <li> Chipset: Qualcomm MSM8974AC Snapdragon 801</li>
                        </ul>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" >15 Reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div> <!-- /container -->
