<link rel="stylesheet" href="css/ecommerce_app.css"/>
<div class="container">

    <header>
        <div class="row">
            <div class="col-md-4 col-xs-7">
                <div class="container logo">
                    <div class="col-sm-4">
                        <i class="fa fa-cubes fa-5x"></i>
                    </div>
                    <div class="col-sm-8">
                        <h3>EcommerceApp</h3>
                    </div>
                </div>
                <p class="subtext">Bootstrap ecommerce template</p>
            </div>
            <div class="col-md-8 col-xs-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="email"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password"/>
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>
        </div>
    </header>

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Ecommerce app</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/ecommerce_app">Home</a></li>
                    <li><a href="#">Whats new</a></li>
                    <li><a href="">Specials</a></li>
                    <li><a href="">My Account</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search"/>
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <section id="products">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/phone_.jpg"/>
                    <div class="caption">
                        <h4 class="pull-right">$699.99</h4>
                        <h4><a href="#/ecommerce_app/product/1">Samsung Galaxy S5</a></h4>
                        <p>Memory size - User memory is less than the total memory due to storage of the operating system and software used to operate the phones features.
                            Actual user memory will vary depending on the mobile phone operator and may change after software upgrades are performed.</p>
                        <ul>
                            <li> NETWORK: GSM / HSPA / LTE</li>
                            <li> LAUNCH	2014, February Available. Released 2014, April</li>
                            <li> OS: Android OS, v4.4.2 (KitKat)</li>
                            <li> Chipset: Qualcomm MSM8974AC Snapdragon 801</li>
                        </ul>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" >15 Reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/phone_.jpg"/>
                    <div class="caption">
                        <h4 class="pull-right">$699.99</h4>
                        <h4><a href="#/ecommerce_app/product/2">Samsung Galaxy S5</a></h4>
                        <p>Memory size - User memory is less than the total memory due to storage of the operating system and software used to operate the phones features.
                            Actual user memory will vary depending on the mobile phone operator and may change after software upgrades are performed.</p>
                        <ul>
                            <li> NETWORK: GSM / HSPA / LTE</li>
                            <li> LAUNCH	2014, February Available. Released 2014, April</li>
                            <li> OS: Android OS, v4.4.2 (KitKat)</li>
                            <li> Chipset: Qualcomm MSM8974AC Snapdragon 801</li>
                        </ul>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" >15 Reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/phone_.jpg"/>
                    <div class="caption">
                        <h4 class="pull-right">$699.99</h4>
                        <h4><a href="product.html">Samsung Galaxy S5</a></h4>
                        <p>Memory size - User memory is less than the total memory due to storage of the operating system and software used to operate the phones features.
                            Actual user memory will vary depending on the mobile phone operator and may change after software upgrades are performed.</p>
                        <ul>
                            <li> NETWORK: GSM / HSPA / LTE</li>
                            <li> LAUNCH	2014, February Available. Released 2014, April</li>
                            <li> OS: Android OS, v4.4.2 (KitKat)</li>
                            <li> Chipset: Qualcomm MSM8974AC Snapdragon 801</li>
                        </ul>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" >15 Reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/phone_.jpg"/>
                    <div class="caption">
                        <h4 class="pull-right">$699.99</h4>
                        <h4><a href="product.html">Samsung Galaxy S5</a></h4>
                        <p>Memory size - User memory is less than the total memory due to storage of the operating system and software used to operate the phones features.
                            Actual user memory will vary depending on the mobile phone operator and may change after software upgrades are performed.</p>
                        <ul>
                            <li> NETWORK: GSM / HSPA / LTE</li>
                            <li> LAUNCH	2014, February Available. Released 2014, April</li>
                            <li> OS: Android OS, v4.4.2 (KitKat)</li>
                            <li> Chipset: Qualcomm MSM8974AC Snapdragon 801</li>
                        </ul>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" >15 Reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/phone_.jpg"/>
                    <div class="caption">
                        <h4 class="pull-right">$699.99</h4>
                        <h4><a href="product.html">Samsung Galaxy S5</a></h4>
                        <p>Memory size - User memory is less than the total memory due to storage of the operating system and software used to operate the phones features.
                            Actual user memory will vary depending on the mobile phone operator and may change after software upgrades are performed.</p>
                        <ul>
                            <li> NETWORK: GSM / HSPA / LTE</li>
                            <li> LAUNCH	2014, February Available. Released 2014, April</li>
                            <li> OS: Android OS, v4.4.2 (KitKat)</li>
                            <li> Chipset: Qualcomm MSM8974AC Snapdragon 801</li>
                        </ul>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" >15 Reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/img/phone_.jpg"/>
                    <div class="caption">
                        <h4 class="pull-right">$699.99</h4>
                        <h4><a href="product.html">Samsung Galaxy S5</a></h4>
                        <p>Memory size - User memory is less than the total memory due to storage of the operating system and software used to operate the phones features.
                            Actual user memory will vary depending on the mobile phone operator and may change after software upgrades are performed.</p>
                        <ul>
                            <li> NETWORK: GSM / HSPA / LTE</li>
                            <li> LAUNCH	2014, February Available. Released 2014, April</li>
                            <li> OS: Android OS, v4.4.2 (KitKat)</li>
                            <li> Chipset: Qualcomm MSM8974AC Snapdragon 801</li>
                        </ul>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" >15 Reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div> <!-- /container -->
