<link rel="stylesheet" href="css/app_sales.css" />

<section id="middle">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="img/iphone3g-remont.png" class="demo"/>
                <h2>Lorsen</h2>
                <p>Stack Overflow is a community of 4.7 million programmers, just like you,
                    helping each other. Join them, it only takes a minute:</p>
                <a class="btn btn-default" href="#" role="button">Link1</a>
            </div>
            <div class="col-md-4">
                <img src="img/iphone3g-remont.png" class="demo"/>
                <h2>Lorsen</h2>
                <p>Stack Overflow is a community of 4.7 million programmers, just like you,
                    helping each other. Join them, it only takes a minute:</p>
                <a class="btn btn-default" href="#" role="button">Link2</a>
            </div>
            <div class="col-md-4">
                <img src="img/iphone3g-remont.png" class="demo"/>
                <h2>Lorsen</h2>
                <p>Stack Overflow is a community of 4.7 million programmers, just like you,
                    helping each other. Join them, it only takes a minute:</p>
                <a class="btn btn-default" href="#" role="button">Link3</a>
            </div>
        </div>
    </div>
</section>

<div id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h1>Gemma Features</h1>
                <ul>
                    <li>test link</li>
                    <li>gemma link</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img class="big-logo" src="img/Private label.jpg"/>
            </div>
        </div>
    </div>
</div>