<link href="css/social_net_app.css" rel="stylesheet" media="screen"/>

<header>
    <div class="container">
        <img src="img/logo_network.png" class="logo"/>

        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword3">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password"/>
            </div>
            <button type="submit" class="btn btn-default">Sign in</button>
            <br/>

            <div class="checkbox">
                <label>
                    <input type="checkbox"/> Remember me
                </label>
            </div>
        </form>
    </div>
</header>
<!-- Fixed navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/social_net_app">Home</a></li>
                <li><a href="#/social_net_app/members">Members</a></li>
                <li><a href="groups">Groups</a></li>
                <li><a href="#/social_net_app/photos">Photos</a></li>
                <li class="active"><a href="#/social_net_app/profile">Profile</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->photos
    </div>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="profile">
                    <h1  class="page-header">Alex GGG</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="img/user.jpg" class="img-thumbnail"/>
                        </div>
                        <div class="col-md-8">
                            <ul>
                                <li><strong>Name: </strong> Alex GGG</li>
                                <li><strong>Age: </strong> 30</li>
                                <li><strong>Sex: </strong> mail</li>
                                <li><strong>Orentation: </strong> Geter</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Wall</h3>
                                </div>
                                <div class="panel-body">
                                    <form>
                                        <div class="form-group">
                                            <textarea type="email" class="form-control" placeholder="Put on wall"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                        <div class="pull-right">
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Text
                                                </button>
                                                <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i>
                                                    Image
                                                </button>
                                                <button type="button" class="btn btn-default"><i class="fa fa-video-camera"></i>
                                                    Video
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default post">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a class="post-avatar thumbnail" href=""><img src="img/user.jpg"/>

                                        <div class="text-center">DevUser1</div>
                                    </a>

                                    <div class="likes text-center">7 Likes</div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="bubble">
                                        <div class="pointer">
                                            <p>
                                                Some default panel content here. Nulla vitae elit libero, a pharetra augue.
                                                Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                                                Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor
                                                id nibh ultricies vehicula ut id elit.
                                            </p>
                                        </div>
                                        <div class="pointer-border"></div>
                                    </div>
                                    <p class="point-actions"><a href="">Commnet</a> - <a href="">Like</a> - <a
                                            href="">Share</a></p>

                                    <div class="commnet-form">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputName2"
                                                       placeholder="Comment"/>
                                            </div>
                                            <button type="submit" class="btn btn-default">Add</button>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="comments">
                                        <div class="comment">
                                            <a class="comment-avatar pull-left" href=""><img src="img/user.jpg"/></a>

                                            <div class="comment-text">
                                                <p>This is the first of several blog entries. In this session, you will see
                                                    how to get a bare-bones Spring Data REST application up and running
                                                    quickly. Then you will build a simple UI on top of it using Facebook’s
                                                    React.js toolset.</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="comment">
                                            <a class="comment-avatar pull-left" href=""><img src="img/user.jpg"/></a>

                                            <div class="comment-text">
                                                <p>This is the first of several blog entries. In this session, you will see
                                                    how to get a bare-bones Spring Data REST application up and running
                                                    quickly. Then you will build a simple UI on top of it using Facebook’s
                                                    React.js toolset.</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default friends">
                    <div class="panel-heading">
                        <h3 class="panel-title">Myfriends</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a class="thumbnail" href=""><img src="img/user.jpg"/></a></li>
                            <li><a class="thumbnail" href=""><img src="img/user.jpg"/></a></li>
                            <li><a class="thumbnail" href=""><img src="img/user.jpg"/></a></li>
                            <li><a class="thumbnail" href=""><img src="img/user.jpg"/></a></li>
                            <li><a class="thumbnail" href=""><img src="img/user.jpg"/></a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <a href="" class="btn btn-primary">View all friends</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>