<link href="css/app_agency.css" rel="stylesheet" media="screen"/>

<!--<header>-->
    <!--<div class="container">-->
        <!--<img src="img/logo_network.png" class="logo"/>-->

        <!--<form class="form-inline">-->
            <!--<div class="form-group">-->
                <!--<label class="sr-only" for="exampleInputEmail3">Email address</label>-->
                <!--<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email"/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="sr-only" for="exampleInputPassword3">Password</label>-->
                <!--<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password"/>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Sign in</button>-->
            <!--<br/>-->

            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox"/> Remember me-->
                <!--</label>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</header>-->
<!-- Fixed navbar -->

<section id="page-top" data-spy="scroll" data-toggle=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">-</span>
                    <span class="icon-bar">-</span>
                    <span class="icon-bar">-</span>
                </button>
                <a class="navbar-brand" href="">Digital Agency</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#Page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Why" data-ng-click="click($event)">Why</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Whow" data-ng-click="click($event)">Whow</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Client" data-ng-click="click($event)">Client</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Contact" data-ng-click="click($event)">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Welcom</h1>
                        <p class="intro-text">Agency here is for you service</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Why" class="container content-section">
        <h2 class="text-cdashboardenter">Why choose us ?</h2>
        <p class="intro-text">For performance reasons, the Tooltip and Popover data-apis are opt-in, meaning you must initialize them yourself.</p>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="block block-icon-left">
                    <div class="icon">
                        <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="icon-content">
                        <h3>Proffecions</h3>
                        <p>Please check our video tutorial on creating a new JHipster application!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block block-icon-left">
                    <div class="icon">
                        <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="icon-content">
                        <h3>Proffecions</h3>
                        <p>Please check our video tutorial on creating a new JHipster application!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block block-icon-left">
                    <div class="icon">
                        <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="icon-content">
                        <h3>Proffecions</h3>
                        <p>Please check our video tutorial on creating a new JHipster application!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block block-icon-left">
                    <div class="icon">
                        <i class="fa fa-gear fa-5x"></i>
                    </div>Whow
                    <div class="icon-content">
                        <h3>Proffecions 2</h3>
                        <p>Please check our video tutorial on creating a new JHipster application!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block block-icon-left">
                    <divdashboard class="icon">
                        <i class="fa fa-dashboard fa-5x"></i>
                    </divdashboard>
                    <div class="icon-content">
                        <h3>Proffecions 3</h3>
                        <p>Please check our video tutorial on creating a new JHipster application!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block block-icon-left">
                    <div class="icon">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="icon-content">
                        <h3>Proffecions 4</h3>Whow
                        <p>Please check our video tutorial on creating a new JHipster application!</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="Whow" class="content-section text-center">
        <div class="who-section">
            <div class="container">
                <h2>Who are we ?</h2>
                <p class="lead">
                    Разработка новых механизмов, обработок, отчетов, печатных форм по ТЗ . Написание запросов. Ручное тестирование кода. Документирование написанного кода. Анализ большого объема...
                    Высшее (оконченное!) техническое и/или экономическое образование. Опыт работы в должности программиста 1С от 2 лет. Знание основ бухгалтерского...

                </p>
            </div>
        </div>

    </section>

    <section id="Client" class="content-section text-center">
            <div class="container">
                <h2>Our Clients</h2>
                <img src="img/client.jpg"/>
                <img src="img/client.jpg"/>
                <img src="img/client.jpg"/>
                <img src="img/client.jpg"/>
                <img src="img/client.jpg"/>
                <img src="img/client.jpg"/>
                <img src="img/client.jpg"/>
                <img src="img/client.jpg"/>
            </div>

    </section>

    <section id="Contact" class="content-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">Contact</h1>
                <ul class="list-inline banner-social-buttons">
                    <li><strong>MAILING ADDRESS</strong>
                        123ContactForm
                        Flavia Palace, Vladimirescu n° 10
                        Ground Floor 300195
                        Timisoara, Romania, EU</li>
                    <li><strong>PHONE</strong>
                        Phone: +40 356 466 058
                        Fax: +40 771 442717</li>
                    <li><strong>OFFICE HOURS</strong>
                        Monday - Friday
                        9AM - 6PM (GMT+2).</li>
                </ul>
                <a href="" class="btn btn-default btn-lg">Contact us now </a>
            </div>
        </div>
    </section>

    <footer>
        <p>Foter section</p>
    </footer>

    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8">-->

            <!--</div>-->
            <!--<div class="col-md-4">-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</section>

<div data-ng-controller="AppAgencyController" data-ng-init="init()"></div>