body {
    margin:0;
    padding:0;
    height:100%;
}

.navbar {
    margin-bottom: 0;
}

img.demo {
    width:100%;
    padding: 3px;
    border: 1px solid #ccc;
}

section{
    padding: 80px 0 40px 0;
}

#feature{
    background: #1caa98;
    color:#fff;
}

/*section#title-bar{*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*height: 80px;*/
    /*background: #1caa98;*/
    /*color: #fff;*/
/*}*/

/*section#title-bar h1{*/
    /*margin-bottom: 20px;*/
/*}*/

/*footer {*/
    /*width: 100%;*/
    /*background: #333;*/
    /*color: #fff;*/
    /*padding: 30px 0 20px 0;*/
    /*position:absolute;*/
    /*bottom:0;*/
    /*left:0;*/
/*}*/

/*footer li {*/
    /*float: left;*/
    /*padding: 0 10px 0 10px;*/
    /*list-style: none;*/
/*}*/

/*footer a{*/
    /*color: #fff;*/
/*}*/