body {
    padding-top: 80px;
    margin-bottom: 0 !important;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.nav{
    margin-top: 80px;
}

#navbar{
margin-top: 2px;
}

.navbar{
    min-height: 70px;
    margin-bottom: 0 !important;
}

.navbar-brand{
    height: auto;
    padding-bottom: 5px !important;
    margin: 0;
}

.navbar-nav{
    margin: 0;
    padding: 0;
}

.navbar-nav li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav > li > a{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid grey;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-nav a:hover{
    background: #0383c0 !important;
    color: white !important;
}

.jumbotron{
    margin: 0 !important;
    min-height: 450px;
    background-color: white;
}

.jumbotron h1{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 55px;
    font-weight: bold;
}

#jumbotron-img{
    display: block;
    margin: auto;
}

.fa-color{
    color:#033769;
}

section{
    padding: 30px 0;
}

section.grey{
    background-color: #f4f4f4;
}

.section-secondary{
    background: #e44d26;
    color: #ffffff;
    padding: 60px 0;
}

.section-primary{
    background: white;
    color: #01101f;
    padding: 60px 0;
}
.slogan{
    text-align: center;

}
.slogan h1{
    font-size: 50px;
    margin-bottom: 25px;
}

.slogan p{
    font-size: 20px;
    margin-bottom: 25px;
}
.slogan a{
    margin-top: 20px;
}

.page-header{
    font-size: 24px;
}

.feature-list li{
    list-style: none;
    font-size: 18px;
    line-height: 2em;
}

.section-blue{
    background: #0383c0;
    color: white;
    padding: 60px 0;
}

footer{
    text-align: center;
    height: 60px;
    background: #f4f4f4;
    padding-top: 20px;
}

.section-title{
    padding: 10px;
    background: #0383c0;
    color:white;
}

.section-title small{
    color:grey !important;
}

.shop-disc {
    padding-top: 15px;
}

.img-circle {
    border-radius: 50%;
}

.contact-form{
    margin-top: 60px;
}

@media(max-width: 990px){
    .navbar-header{
        float: none;
    }

    .navbar-left, .navbar-right{
        float: none !important;
    }

    .navbar-toggle{
        display: block;
    }

    .navbar-collapse{
        border-top:1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top{
        top:0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse{
        display: none;
    }
    .navbar-nav{
        float:none;
        margin-top:7.5px;
    }
    .navbar-nav > li{
        float: none;
    }
    .navbar-nav > li >a{
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: none;
    }
    .collapse.in{
        display: block !important;
    }
}

