/*body{*/
    /*padding-top: 20px;*/
/*}*/
.navbar{
    background: #0383c0 url(../img/navbar_background.png) repeat-x;
    border: 1px #ccc solid;
    margin-top: 30px;
}

.footer{
    background: #0383c0 url(../img/navbar_background.png) repeat-x;
    border: 1px #ccc solid;
    margin-top: 30px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    background: none;
    font-weight: bold;
}

.logo{
    width: 100%;
    margin: 40px 0 0 0;
}

.logo .primary{
    color:#04519b;
}

.subtext{
    font-size: 18px;
    color:#666;
    font-weight: bold;
    margin: 10px 0 0 30px;
}

header form{
    margin-top: 40px;
    padding: 15px;
    border-radius: 5px;
}

@media(max-width: 768px){
    .navbar a{
        color: #fff !important;
    }

    .navbar a:hover{
        color: #fff !important;
    }

    .navbar form{
        display: none;
    }
}

.main-img{
    width: 100%;
}

.btn-link, .btn-link:hover, .btn-link:focus{
     color: black;
 }
.btn-link:focus,
.btn-link:active:focus{
    outline:none;
}

.btn-link:focus{
    text-decoration:none;
}
.btn-link:hover{
    text-decoration:underline;
}

.btn-link{
    text-align: left;
     padding: 0 0 0 0;
    line-height: inherit;
}

.container .text-muted {
     margin: 0 0;
}

blockquote {
    font-size: 14px;
}

@media(max-width: 990px){
    .navbar-header{
        float: none;
    }

    .navbar-left, .navbar-right{
        float: none !important;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }

    .navbar-toggle{
        display: block;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }

    .navbar-collapse{
        border-top:1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .navbar-fixed-top{
        top:0;
        border-width: 0 0 1px;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .navbar-collapse .collapse{
        display: none;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .navbar-nav{
        float:none;
        margin-top:7.5px;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .navbar-nav > li{
        float: none;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .navbar-form{
        margin-left: -15px;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .navbar-nav > li >a{
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: none;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .collapse .in{
        display: block !important;
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
    .container-fluid{
        background: #0383c0 url(../img/navbar_background.png) repeat-x;
    }
}