<div class="container-fluid body-content">
    <div class="row features">
        <div class="col-md-6">
            <h2 class="lead">The header div</h2>
            <p>
                Дата релиза замечательной ролевой игры Fallout 4 с каждым днем становится все ближе, а это значит, что разработчикам пора опубликовать минимальные и рекомендуемые требования версии своей новой игры для персональных компьютеров. Именно так и поступили парни из Bethesda.
                Оказывается, что все опасения по поводу «невпечатляющей и устаревшей графики» этой новой РПГ были напрасны: для запуска видеоигры даже на самых минимальных настройках потребуется далеко не слабый компьютер. Поэтому все владельцы ПК, являющиеся фанатами серии легендарных постапокалиптических игр и рассчитывающие опробовать в скором времени Fallout 4, могут начинать откладывать деньги на апгрейд своих компьютеров.
                Теперь относительно системных требований Fallout 4. Требования, чтобы запустить RPG от Bethesda на минимальных настройках и со всеми доступными графическими эффектами, выглядят следующим образом:
                Минимальные:
                Видеокарта NVIDIA GTX 550 Ti 2 Гб или AMD Radeon HD 7870 2 Гб или аналогичная;
                Процессор от Intel Core серии i5-2300 или четырехъядерный процессор от AMD не ниже Phenom II;
                Оперативной же памяти понадобиться как минимум 8 Гб.
                Рекомендуемые требования такие:
                Видеокарта NVIDIA GTX 780 3 Гб/AMD Radeon R9 290X 4 Гб или аналогичная;
                Процессор Intel Core i7 4790 3,6 ГГц или AMD FX-9590 4,7 ГГц или аналогичный;
                Оперативной памяти для комфортной игры на «максимуме» будет достаточно все тех же 8 Гб.
                Скриншоты игры на ультра-высоких настройках графики.
                Прочие требования: для сохранения на жестком диске Fallout 4 потребует около 30 Гб, что по нынешним меркам совсем немного, а вот версия Windows обязательно должна быть 64-битная. Желательно чтобы это была 8-я или 10-я Windows, хотя и на Windows 7 игра должна запускаться вполне корректно. Для активации игры понадобится подключение к сети Интернет и учетная запись Steam (она создаётся бесплатно).
                Что касается даты выхода Fallout 4, то игра появится в продаже уже 10 ноября нынешнего года во всех регионах (Европе, США, Азии и странах СНГ).
                Правда, в странах восточной Европы (Украине и Белоруссии) и России эта великолепная игра выйдет без полной русской локализации. Это значит, что в ней будет переведен на русский язык только текст (интерфейс, подсказки, субтитры, диалоги и так далее), в то время как озвучка останется оригинальной.
                Что касается дополнений и обновлений игры, то они появhttps://github.com/alexggg99/Bootstrap_Study.gitятся только в 2016 году. Причем никаких эксклюзивных DLC и прочего внутриигрового контента ждать не стоит: все грядущие обновления будут выходить для всех платформ сразу. Владельцы сезонных абонементов получат их бесплатно вместе с уникальным инструментарием для создания своего собственного контента, а остальные геймеры смогут приобрести за дополнительную плату.
                Помимо ПК, 10 ноября состоится и релиз проекта для консолей: Xbox One и PlayStation 4. В ожидании выхода Fallout 4 пока можно обустраивать жизнь в подземном бункере бесплатной мобильной игры Fallout Shelter для iOS и Android. Сколько часов в неё наиграли вы?
                <code>(javax.servlet.http.HttpServletRequest)</code></p>


            <i class="glyphicon glyphicon-briefcase"></i>
            <div class="well">
                <button type="button" class="btn btn-lg btn-default">Make request</button>
            </div>
        </div>
    </div>
</div>