<link href="css/app_resume.css" rel="stylesheet" media="screen"/>

<div class="container">

    <section>
        <div class="container container-main">
            <img src="img/no-profile-img.gif" class="profile-img"/>

            <header class="primary text-center">
                <h1>Hello, <br/> my name is <strong>Alex</strong> and Im a web coder</h1>
            </header>

        <div class="row">
            <div class="col-md-7">
                <h2># About #</h2>
                <p>Простота в работе. Мы приложили много усилий, чтобы работать на нашей бирже копирайтинга было максимально легко и удобно. Интуитивно понятный интерфейс, постоянное совершенствование функционала и подробный FAQ помогут в работе начинающим и обеспечат комфорт постоянным пользователям сервиса TEXT.RU.</p>
            </div>
            <div class="col-md-5">
                <h2># Contact info #</h2>
                <ul class="list-cell">
                    <li><i class="glyphicon-phone"></i> 576565765</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h2># Education and Experience</h2>
                <div class="media">
                    <div class="media-left">
                        1996 - 1999
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Student</h4>
                        <p>Эффективные алгоритмы позволили сделать проверку глубокой и точной. Автоматическая проверка орфографии подскажет, где были допущены ошибки.</p>
                        ...
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        1999 - 2001
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Worker</h4>
                        <p>Мы ищем front end разработчика в новую команду Statistics. Спектр задач этой команды связан с организацией бигдаты, хранением и стат обработкой событий, подготовкой системы репортинга в двух масштабах времени: в историческом и в реальном, делать кластеризацию жизненного цикла пользователя и предиктивную аналитику для подбора успешных сценариев.</p>
                        ...
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        2001 - 2003
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Butler</h4>
                        <p>Мы ищем того, кто любит свою работу, кому приносит удовольствие заниматься своим делом. Кто не боится начинать и пробовать, а главное, заканчивать начатое и радоваться успеху вместе с командой. Того, кто будет учиться вместе с нами, создавать новые продукты/идеи и делиться ими со всеми.</p>
                        ...
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h2># Programming</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 100%">
                        Java
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 100%;">
                        HTML
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 70%;">
                        SQL
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h2># Services</h2>
                <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> HTML/CSS</div>
                <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Java, web programming</div>
                <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> Design</div>
                <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> DB admin</div>
            </div>
            <div class="col-md-5"></div>
        </div>
        </div>
    </section>

</div>