<link href="css/cms_login.css" rel="stylesheet" media="screen"/>

<!--<header>-->
    <!--<div class="container">-->
        <!--<img src="img/logo_network.png" class="logo"/>-->

        <!--<form class="form-inline">-->
            <!--<div class="form-group">-->
                <!--<label class="sr-only" for="exampleInputEmail3">Email address</label>-->
                <!--<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email"/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="sr-only" for="exampleInputPassword3">Password</label>-->
                <!--<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password"/>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Sign in</button>-->
            <!--<br/>-->

            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox"/> Remember me-->
                <!--</label>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</header>-->
<!-- Fixed navbar -->

<section id="page-top" data-spy="scroll" data-toggle=".navbar-custom">

    <!--<nav class="navbar navbar-custom navbar-static-top">-->
        <!--<div class="container">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
                        <!--aria-expanded="false" aria-controls="navbar">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="">Digital Agency</a>-->
            <!--</div>-->
            <!--<div id="navbar" class="collapse navbar-collapse navbar-right navbar-main-collapse">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="hidden">-->
                        <!--<a href="#Page-top"></a>-->
                    <!--</li>-->
                    <!--<li class="page-scroll">-->
                        <!--<a href="#Why" data-ng-click="click($event)">Why</a>-->
                    <!--</li>-->
                    <!--<li class="page-scroll">-->
                        <!--<a href="#Whow" data-ng-click="click($event)">Whow</a>-->
                    <!--</li>-->
                    <!--<li class="page-scroll">-->
                        <!--<a href="#Client" data-ng-click="click($event)">Client</a>-->
                    <!--</li>-->
                    <!--<li class="page-scroll">-->
                        <!--<a href="#Contact" data-ng-click="click($event)">Contact</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
        <!--</div>-->
    <!--</nav>-->


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Digital Agency</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                    <a href="#Page-top"></a>
                    </li>
                    <li class="page-scroll">
                    <a href="#Why" data-ng-click="click($event)">Why</a>
                    </li>
                    <li class="page-scroll">
                    <a href="#Whow" data-ng-click="click($event)">Whow</a>
                    </li>
                    <li class="page-scroll">
                    <a href="#Client" data-ng-click="click($event)">Client</a>
                    </li>
                    <li class="page-scroll">
                    <a href="#Contact" data-ng-click="click($event)">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>





    <div class="container">
        <div class="row">
            <div class="col-md-8">



                <h1>Greeting</h1>
                <div ng-show="authenticated">
                    <p>You are aunteficated</p>
                </div>
                <div  ng-show="!authenticated">
                    <p>Login to see your greeting</p>
                </div>




            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>


</section>

<div data-ng-controller="AppAgencyController" data-ng-init="init()"></div>