<link href="css/bootstrap.min.cerulean.css" rel="stylesheet" media="screen"/>
<link href="css/cms_main.css" rel="stylesheet" media="screen"/>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alpha CMS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/cms_app">Main</a></li>
                <li class="active"><a href="#/cms_app/pages">Pages</a></li>
                <li><a href="">Categories</a></li>
                <li><a href="">Users</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="searchbox" ng-model="searchbox" type="text" class="form-control" placeholder="Search"/>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                    </ul>
                </li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<section>

    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="list-group">
                    <a href="#/cms_app" class="list-group-item">
                        <i class="glyphicon glyphicon-dashboard"></i> Dashboard
                    </a>
                    <a class="active list-group-item" href="#/cms_app/pages"><i class="glyphicon glyphicon-file"></i>
                        Pages</a>
                    <a href="" class="list-group-item">Categories</a>
                    <a href="" class="list-group-item">Users</a>
                </div>


            </div>
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-6">
                        <h1 class="table-view"><i class="glyphicon glyphicon-file"></i> Pages</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group actions" role="group" aria-label="...">
                            <a href="#/cms_app/page" class="btn btn-default">New</a>
                            <a href="" class="btn btn-default">Edit</a>
                            <a href="" class="btn btn-default">Delete</a>
                        </div>
                    </div>
                </div>

                <ol class="breadcrumb">
                    <li><a href="#/cms_app">Dashboard</a></li>
                    <li class="active">Pages</li>
                </ol>

                <h3>Latest pages</h3>

                <table class="table table-striped tablesorter" id="sort-table">
                    <thead>
                        <tr>
                            <th><input id="selectAll" type="checkbox"/></th>
                            <th class="sortable">ID</th>
                            <th>Page Title</th>
                            <th>Category</th>
                            <th>Author</th>
                        </tr>
                    </thead>
                    <tbody data-ng-repeat="record in json | filter:searchbox">
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>{{record.id}}</td>
                            <td><a  ng-click="getPage(record)">{{record.title}}</a></td>
                            <td>{{record.Category}}</td>
                            <td>{{record.Author}}</td>
                        </tr>
                    </tbody>
                </table>
{{page}}
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</section>


<div class="container">
    <div class="row" id="preFooter"></div>
</div>

<footer class="footer">
    <p>Copyright 2015, All rights</p>
</footer>


<script src="css/libs/__jquery.tablesorter/jquery.tablesorter.js "></script>
<script>
    $(function(){
        $('#sort-table').tablesorter({
                sortList:[[1,0]],
                headers: {
                    // assign the secound column (we start counting zero)
                    0: {
                        // disable it by setting the property sorter to false
                        sorter: false
                    },
                    // assign the third column (we start counting zero)
                    2: {
                        // disable it by setting the property sorter to false
                        sorter: false
                    },
                    // assign the third column (we start counting zero)
                    3: {
                        // disable it by setting the property sorter to false
                        sorter: false
                    },
                    // assign the third column (we start counting zero)
                    4: {
                        // disable it by setting the property sorter to false
                        sorter: false
                    }
            }
        });
        //check all checkboxes
        $('#selectAll').click(function(e){
            var table= $(e.target).closest('table');
            $('td input:checkbox',table).prop('checked',this.checked);
        });
    })
</script>




