<link href="css/bootstrap.min.superhero.css" rel="stylesheet" media="screen"/>
<link href="css/web_hosting_app.css" rel="stylesheet" media="screen"/>

<!--<div class="navbar-wrapper">-->
<!--<div class="container">-->

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Web hosting project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/web_hosting_app">Home</a></li>
                <li><a href="#/web_hosting_app/domain">Domain</a></li>
                <li class="active"><a href="#/web_hosting_app/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" data-ng-click="toggleLoginDiv()">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="loginDiv" class="well hidden">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control"  placeholder="Email"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" placeholder="Password"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <button type="button" data-ng-click="toggleLoginDiv()" class="btn btn-default">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="jumbotron">
    <div class="container">
        <h2><i class="fa fa-home"></i>Contact Us Today</h2>
        <p>The <code>.com</code> days are finally over. The Internet is opening up new territories which allow website owners to finally have
            an address that speaks perfectly of who they are and what they provide. Your dream website address can now be yours.

            A .zone website is perfect for any site that desires to be the go-to resource for their industry,
            or specialist area. Movies, music, sports, hobbies, food, construction…every facet of life needs a specialist .zone.</p>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="350px"
                        src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=350&amp;hl=en&amp;q=Saint-Petesburg+(My%20Home)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=A&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"/>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Name</label>
                                <input type="password" class="form-control" id="exampleInputName" placeholder="Name"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="container">
    <div class="row" id="preFooter"></div>
</div>

<footer class="footer navbar-default">
    <div class="container">
        <p class="pull-right">Copyright 2015, All rights</p>
        <p>Web hosting project &copy; 2015. &middot;<a href="">Privacy</a> &middot;<a href="">Terms</a></p>
    </div>
</footer>
