<link href="css/bootstrap.min.superhero.css" rel="stylesheet" media="screen"/>
<link href="css/web_hosting_app.css" rel="stylesheet" media="screen"/>

<!--<div class="navbar-wrapper">-->
<!--<div class="container">-->

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Web hosting project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/web_hosting_app">Home</a></li>
                <li><a href="#/web_hosting_app/domain">Domain</a></li>
                <li ><a href="#/web_hosting_app/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" data-ng-click="toggleLoginDiv()">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div id="loginDiv" class="well hidden">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control"  placeholder="Email"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" placeholder="Password"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <button type="button" data-ng-click="toggleLoginDiv()" class="btn btn-default">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Carousel ================================================== -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Hosting # 1 in the World</h1>

                    <p>Prepare your domain for the move
                        Request an authorization code from your current provider
                        and make sure that you have access to the specified e-mail address.</p>

                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <!--<img class="second-slide" src="" alt="Second slide"/>-->
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>
                        <ul class="feature-list">
                            <li><i class="fa fa-check"></i> Unlimited disk space</li>
                            <li><i class="fa fa-check"></i> FREE Domain</li>
                            <li><i class="fa fa-check"></i> FREE SECURITY SUITE</li>
                            <li><i class="fa fa-check"></i> FREE Site Building</li>
                            <li><i class="fa fa-check"></i> FREE Admin Engine</li>
                        </ul>
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <!--<img class="third-slide" src="" alt="Third slide"/>-->
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>

                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                        at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<section class="marketing">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-user fa-5x fa-border"></i>
                <h2>24/7 Hour support</h2>
                <p>Trembling so violently that he had to lean on the balustrade for support, he told me.
                    Rough and trying times are coming, love, and I must have your support.</p>
                <p><a class="btn btn-default" href="">View details</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-wordpress fa-5x fa-border"></i>
                <h2>One Click installation</h2>
                <p>Trembling so violently that he had to lean on the balustrade for support, he told me.
                    Rough and trying times are coming, love, and I must have your support.</p>
                <p><a class="btn btn-default" href="">View details</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-bitbucket fa-5x fa-border"></i>
                <h2>Daily Backups</h2>
                <p>Trembling so violently that he had to lean on the balustrade for support, he told me.
                    Rough and trying times are coming, love, and I must have your support.</p>
                <p><a class="btn btn-default" href="">View details</a></p>
            </div>
        </div>
    </div>
</section>


<section class="marketing">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="panel price penal-gray">
                    <div class="panel-heading arrow_box text-center">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px">
                            <strong>$3.99 / month</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">1 FREE DOMAIN</li>
                        <li class="list-group-item">1 GB SPACE</li>
                        <li class="list-group-item">1 GB BANDWITH</li>
                        <li class="list-group-item">1 FREE EMAIL</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-primary">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="panel price penal-gray">
                    <div class="panel-heading arrow_box text-center">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px">
                            <strong>$3.99 / month</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">1 FREE DOMAIN</li>
                        <li class="list-group-item">1 GB SPACE</li>
                        <li class="list-group-item">1 GB BANDWITH</li>
                        <li class="list-group-item">1 FREE EMAIL</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-primary">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="panel price penal-gray">
                    <div class="panel-heading arrow_box text-center">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px">
                            <strong>$3.99 / month</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">1 FREE DOMAIN</li>
                        <li class="list-group-item">1 GB SPACE</li>
                        <li class="list-group-item">1 GB BANDWITH</li>
                        <li class="list-group-item">1 FREE EMAIL</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-primary">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="panel price penal-gray">
                    <div class="panel-heading arrow_box text-center">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px">
                            <strong>$3.99 / month</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">1 FREE DOMAIN</li>
                        <li class="list-group-item">1 GB SPACE</li>
                        <li class="list-group-item">1 GB BANDWITH</li>
                        <li class="list-group-item">1 FREE EMAIL</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-primary">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row" id="preFooter"></div>
</div>

<footer class="footer navbar-default">
    <div class="container">
        <p class="pull-right">Copyright 2015, All rights</p>
        <p>Web hosting project &copy; 2015. &middot;<a href="">Privacy</a> &middot;<a href="">Terms</a></p>
    </div>
</footer>